.thanks-popup__wrapper(data-thanks-popup)
  .thanks-popup
    <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="0.5" width="64" height="64" rx="32" fill="#C59781"/>
      <path d="M47 31.12V32.5C46.9982 35.7347 45.9508 38.8821 44.014 41.4728C42.0773 44.0635 39.3549 45.9588 36.253 46.8759C33.1511 47.793 29.8359 47.6829 26.8017 46.5619C23.7675 45.4409 21.177 43.3692 19.4164 40.6556C17.6559 37.9421 16.8197 34.7321 17.0325 31.5045C17.2453 28.2769 18.4958 25.2045 20.5974 22.7457C22.699 20.2868 25.5392 18.5731 28.6943 17.8603C31.8494 17.1474 35.1504 17.4735 38.105 18.79" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M47 20.5L32 35.515L27.5 31.015" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    .black-subtitle-uppercase-48 дякуємо за звернення!
    .grey-text-16 Ми зв’яжемось з вами через декілька хвилин
    .main-btn(data-close-thanks-popup)
      span закрити
